* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Pokemon-Hollow;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-color: bisque;
  overflow-x: hidden;
}

main {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15%;
}
.card {
  height: 370px;
  width: 250px;
  background: wheat;
  padding-top: 10px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 2px 4px 6px gray;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  border: 8px solid white;
  overflow: hidden;
  transition: 0.4s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 4px 8px 12px gray;
}

.card::after {
  content: "";
  transform: rotate(135deg);
  position: absolute;
  z-index: 0;
  width: 80%;
  height: 300%;
  background: linear-gradient(
    to left,
    transparent,
    rgba(255, 255, 255, 1) 80%,
    transparent
  );
  left: -1700px;
  top: 1500px;
  animation: shine 8s ease infinite;
}

@keyframes shine {
  to {
    left: 1700px;
    top: -1500px;
  }
}

header {
  background-color: rgba(255, 255, 255, 0.514);
  display: flex;
  justify-content: center;
}
.pokedeck {
  width: fit-content;
  height: fit-content;
  display: flex;
  margin-top: 30px;
  justify-content: center;
  position: fixed;
  z-index: 2;
}

.pokedeck > img {
  height: 100%;
  width: 100%;
  filter: drop-shadow(6px 10px 2px rgba(41, 41, 41, 0.655));
  
}

.nom {
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  font-family: "Denk One", sans-serif;
  color: white;
  
  margin-top: 50px;
  letter-spacing: 0.1em;
  text-shadow: 1px 2px 2px black;
}

h3 {
  font-family: "Denk One", sans-serif;
  text-align: center;
  font-size: 14px;
  font-weight: 100;
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  text-shadow: 1px 2px 2px black;
}
p {
  font-family: "Denk One", sans-serif;
  text-align: center;
  color: white;
  font-size: 20px;
  z-index: 1;
  text-shadow: 1px 1px 2px black;
}

.type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  z-index: 1;
  
}

.type1, .type2{
  display: flex;
  align-items: center;
  justify-content: center;
  
  
  
}

.type1>p{
  font-size: 35px;
}

.type2>p{
  font-size: 35px;
}

.typeImage {
  width: 50px;
  z-index: 1;
  filter: drop-shadow(2px 3px 2px rgba(59, 59, 59, 0.655));
}

.imgPoke {
  width: 80%;
  z-index: 1;
  margin-top: 30px;
  filter: drop-shadow(4px 6px 2px rgba(59, 59, 59, 0.655));
}

.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.856);
  z-index: 3;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
 
}

.modalActive {
  display: flex;
}

.imgPokeModal {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  z-index: 3;
  filter: drop-shadow(4px 6px 2px rgba(0, 0, 0, 0.655));
}


.HP, .attaque, .defense, .specialAttaque, .specialDefense, .vitesse{
  text-transform: uppercase;
  font-size: 22px;
  font-family: "Denk One", sans-serif;
  color: white;
  letter-spacing: 0.1em;
  text-shadow: 1px 2px 2px black;
}

.spec{
  
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: spec;

}

.specModal {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-areas: 
  ". . typemodal . ."
  ". spec . resistances ."
  ". spec . resistances ."
  ". h2modal h2modal h2modal .";
  height: 100vh;
  width: 100vw;
  
  
}
.h2Modal {
  grid-area: h2modal;
  display: flex;
  text-transform: uppercase;
  justify-content:center;
  flex-direction: column;
  align-items:center;
  font-size: 1200%;
  font-family: "Denk One", sans-serif;
  color: white;
  text-shadow: 8px 8px 8px black;
  width: 100%;
  height: 100%;
  margin-top: -100px;
  
}

.typeModal {
  grid-area: typemodal;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  align-items: end;
  text-shadow: 8px 8px 8px black;
  gap: 30px;
  position: absolute;
  bottom: 7%;
  
}

.close {
  width: 50px;
  top: 40px;
  position: absolute;
  filter: invert(1);
  z-index: 4;
}

.res {
  grid-area: resistances;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content:center;
  flex-direction: column-reverse;
  
}

.res>p{
  text-transform: uppercase;
  font-size: 22px;
  font-family: "Denk One", sans-serif;
  color: white;
  letter-spacing: 0.1em;
  text-shadow: 1px 2px 2px black;
}

@media screen and (max-device-width: 425px) {
  .modalActive {
    display: flex;
    flex-direction: column;
  }

  .imgPokeModal {
    width: 80%;
    z-index: 3;
  }

  .close {
    width: 80px;
    top: 60px;
    position: absolute;
    filter: invert(1);
  }
}
