* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.card {
  height: fit-content;
  width: 300px;
  background: wheat;
  padding-top: 10px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 2px 4px 6px gray;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  position: relative;
  border: 8px solid white;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  margin-top: 15px;
  font-family: "Denk One", sans-serif;
  color: rgb(91, 90, 172);
}

h3 {
  font-family: "Denk One", sans-serif;
  text-align: center;
  font-size: 14px;
  font-weight: 100;
  color: rgb(91, 90, 172);
  position: absolute;
  top: 10px;
  right: 10px;
}
p {
  font-family: "Denk One", sans-serif;
  text-align: center;
  color: rgb(91, 90, 172);
  font-size: 20px;
}

.type {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  gap: 10px;
  margin-bottom: 20px;
}

.typeImage {
  width: 12%;
}

.imgPoke {
  width: 80%;
  transition: 0.4s;
  cursor: pointer;
}

.imgPoke:hover {
  transform: scale(1.02);
  filter: drop-shadow(4px 6px 2px rgb(59, 59, 59));
}
